* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vw;
    min-width: 300px;
    max-width: 90vh;
    height: 10vh;
    text-align: center;
    background-color: rgb(97, 41, 250);
}

header > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vmin;
}

.game-container {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vw;
    min-width: 300px;
    max-width: 90vh;
    height: 60vw;
    min-height: 300px;
    max-height: 90vh;
    background-color: rgb(190, 196, 255);
}

.row {
    width: 100%;
}

.cell {
    display: inline-block;
    position: relative;
    height: 100%;
    font-size: 2rem;
}

.cell > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clickable {
    border: 2px solid;
    border-color: rgb(219, 219, 219) rgb(92, 92, 92) grey  white;
}

.clickable:active {
    border-color: grey white rgb(219, 219, 219) rgb(92, 92, 92);
}